html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow-y: hidden;
}

.tab-list {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.tab-item {
  color: #fff;
  font-size: 1rem;
  margin: 2rem;
  margin-bottom: .45rem;
  margin-top: .45rem;
  padding: .25rem 1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  display: flex;
  align-items: center;
}

.tab-item.active {
  font-weight: 700;
  background: #fff;
  color: #222
}

.tab-item:hover:not(.active) {
  background: #c73858;
}